@import "tailwindcss";

/* ubuntu-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ubuntu-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/ubuntu-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ubuntu-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@theme {

  /* COLORS */

  --color-grey-500: hsl(231, 11%, 63%);
  --color-orange-300: hsl(23, 100%, 75%);
  --color-red-500: hsl(354, 84%, 57%);
  --color-red-450: hsl(353, 76%, 65%);
  --color-red-400: hsl(354, 91%, 74%);
  --color-purple-600: hsl(243, 100%, 62%);
  --color-purple-500: hsl(243, 100%, 67%);
  --color-purple-400: hsl(243, 100%, 77%);
  --color-purple-200: hsl(229, 24%, 87%);
  --color-blue-950: hsl(213, 96%, 18%);
  --color-blue-700: hsl(213, 73%, 31%);
  --color-blue-300: hsl(228, 100%, 84%);
  --color-blue-200: hsl(206, 94%, 87%);
  --color-blue-100: hsl(218, 100%, 97%);
  --color-blue-50: hsl(231, 100%, 99%);
  
  /* TYPOGRAPHY */

  --font-sans: "Ubuntu", sans-serif;
  --text-3xl: 2rem;
  --leading-tight: 1.2;
}